<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblybinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentassembly>
    <assemblyidentity name="Microsoft.Rtc.Collaboration" publickeytoken="31bf3856ad364e35" culture="neutral">
    <bindingredirect oldVersion="5.0.0.0" newVersion="6.0.0.0"></bindingredirect>
    </assemblyidentity></dependentassembly>
    </assemblybinding>
  </runtime>
  <appSettings>
    <add key="applicationurn" value="urn:application:pocbotucma"/>
    <add key="applicationuseragent" value="pocbotucma"/>
  </appSettings>
</configuration>